<p id="notice"><%= notice %></p>

<h1>These are all products</h1>

<div class="container">
    <% cache(cache_key_for_products) do %>
    <div class="row">
    <% cache do %>
    <%= render @products %>
    <% end %>
    <% end %>
	</div>
</div>  




<%= link_to 'New Product', new_product_path %>